/* @import url("https://use.typekit.net/bfy2wiw.css"); */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+/Edge */
user-select: none; /* Standard */
}

body {
  /* overflow: hidden; */
  margin: 0 40px;
}
main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  column-gap: 10px;
}

nav > ul {
  height:100%;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  list-style-type:none;
  row-gap: 10px;
}

nav li {
  flex-basis: 50%;
  align-self: stretch;
}

nav > ul >li.active {
  background: linear-gradient(330deg, rgba(255,177,0,.8), rgba(255,170,20,0.1), rgba(255,177,20,0) 70.71%);
}

nav li > div {
  height: 100%;
  border: 1px solid black;
  padding: 0px 15px;
}

nav div a {
  float: right;
  display: inline;
  text-decoration: none;
  color: black;
}

nav h2 {
  margin: 0;
  width: min-content;
  text-align: right;

overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  white-space: normal; //this is the one that gets you all the time
}

section {
/*  flex-basis: 80%;
  */overflow:hidden;
}

html {
  font-size: 18px;
}

h1 {
  font-family: "ltc-caslon-pro", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4.2rem;
  letter-spacing: -.4rem;
}

h2 {
  font-family: "ltc-caslon-pro", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: -.15rem;
}

h3 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1rem;
}

h3 span {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

h4 {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}

p {
  font-family: "neue-haas-grotesk-display", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 0.8rem;
}

p span {
  font-family: "ltc-caslon-pro", serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  letter-spacing: -.15rem;
}

#favorites, #wishlist {
  display: flex;
}


.album-block-container {
  position: relative;
  border: 1px solid black;
  padding: 0 0px 0px 20px;
  border-right: none;
}
#wishlist .album-block-container {
  padding: 0;
}

.album-block-container:last-of-type {
  border-right: 1px solid black;
}

.album-block {
  border-bottom: none;
   overflow-x: hidden; 
  height: calc(100vh - 230px);
  overflow-y: scroll;
  padding-right:20px;
}

#wishlist .album-block {
  height: calc(100vh - 155px)
}

.album-block::-webkit-scrollbar {
  display: none;
}

.album-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  filter: blur(60px) contrast(80%) brightness(120%);
}

.open .vert-title-container {
  display:none;
}

#favorites .closed {
  width: 30px;
  padding-left: 0px;
}

.closed > h2, .closed > h4, .closed .album-block, .closed .gradient-overlay {
  display: none;
}

.vert-title-container {
  position:absolute;
  display:flex;
  top: 0;
  left: 0;
  justify-content: space-between;
}
.vert-title-container * {
  display:flex;
  white-space: nowrap;
}

.vert-title-container h3 {
  transform-origin: 0 0;
  transform:translate(27px, 10px)  rotate(90deg);
}

.vert-title-container .album-thumbnail {
  transform: rotate(-90deg);
  width: 20px;
}

/*.closed h3 span {
  display: block;
}*/

.gradient-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: radial-gradient(rgba(255, 255, 255, 0.199), rgba(255, 255, 255, 0.336), rgba(255, 255, 255, 0.673), rgba(255, 255, 255, 0.893));
}

.album-content {
  padding: 10px 0px 0px 0px;
  line-height: 1.1;
}

.album-content ul {
/*  margin: 20px;*/
}

.album-content li {
  list-style-type: none;
}

.listing {
  display: flex;
  padding-bottom: 50px;
  /* justify-content: space-between; */
}

.listing article {
  width: 700px;
}

.listing article > h3 {
  margin-bottom: 10px;
}

.listing figure {
  position: relative;
  width: 200px;
  height: max-content;
  aspect-ratio: 1;
  margin-left: 15px;
  border: 1px solid black;
}

#wishlist .listing {
  padding-bottom: 15px;
}

#wishlist .listing figure {
  margin-right: 15px;
  margin-left: 0;
}
  
#wishlist ul {
  margin-left:15px;
}

.listing figure img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  aspect-ratio: 1;
}


.listing figure div {
  position: absolute;
  right: -15px;
  bottom: -10px;
  color: black;
}

.listing figure div p span {
  font-size: 1.5rem;
  transition: all .1s ease-out;
}

.listing figure {
  transition: all .1s ease-out;
}

.listing figure:hover {
  transform: scale(103%);
}

.listing figure:hover div p span {
  font-size: 1.8rem;
}

.listing figure .add-container {
  position: absolute;
  right: 0;
  top: 0;
  background: none;
  border: none;
}

.outlined-heart {
  color: black;
}

.filled-heart {
  color:red;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]+label:before{
  content: ""; 
  position: absolute;
    font-size: 20px;
  top: 5px;
  right: 5px;
  width: 30px;
    height: 30px;
    background: linear-gradient(330deg, rgba(255,177,0,.8), rgba(255,240,240,1), rgba(255,255,255,1) 70.71%);
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
	transition:  .5s ease;
}

input[type="checkbox"]+label:after {
   font-family: "Material Icons";
    content: "\e87d";
  position: absolute;
    font-size: 25px;
    top: 8.3px;
    right: 8.3px;
    opacity: 0;
      color: white;
}

input[type="checkbox"]:checked + label:before {
    border: 1px solid white;
    background: linear-gradient(330deg, rgba(255,177,0,.8), rgba(255,170,20,0.7), rgba(255,177,20,0.6) 70.71%);
  animation: checkbox-bg 125ms 250ms cubic-bezier(.2,.4,.23,1) forwards;
}

input[type="checkbox"]:checked + label:after {
  	color: white; 
/*	transition:  .5s ease; */
  animation: checkbox-check 125ms 250ms cubic-bezier(.2,.4,.23,1) forwards;
}

@keyframes checkbox-bg {

  0%{
    background: linear-gradient(330deg, rgba(255,177,0,.8), rgba(255,170,20,0.7), rgba(255,177,20,0.6) 70.71%);
  }
  100%{    
    background-image: radial-gradient(49% 81% at 45% 47%, #FFE20345 0%, #073AFF00 100%),radial-gradient(33% 96% at 87% 81%, #FF7C00FF 1%, #FF000000 99%),radial-gradient(142% 91% at 83% 7%, #FFDB00FF 1%, #FF000000 99%),radial-gradient(142% 91% at -6% 74%, #FFB300FF 1%, #FF000000 99%),radial-gradient(142% 91% at 111% 84%, #FFE100B8 0%, #FF0000FF 100%);
  }
}

@keyframes checkbox-check {
  0%{
    opacity: 0;
      color: white;

  }
  33%{
    opacity: .2;
  }
  100%{    
    opacity: .9;
    filter: drop-shadow(0px 0px 5px ) ;
  }
}

hr {
  margin: 8px 0px;
  border-top: none;
  border-bottom: 1px solid black;
}

.listing-info {
  display: flex;
}

.listing-info h3 {
  flex-basis: 20%;
}

.listing-info p{
  line-height: 20px;
  flex-basis: 80%;
}

#wishlist .album-content {
  height: 100%;
}

#wishlist .album-content > div{
  height: 100%;
}

#wishlist #item-container {
  display: flex;
  height: 100%;
  /*scroll-snap-type: x mandatory;
  overflow-x: scroll;*/
  flex-wrap: wrap;
}

#wishlist #item-container li {
  
/*  scroll-snap-align: start;*/
}

#wishlist #item-container .listing {
  flex-direction:column;
  }

#wishlist .open{
  height: 100%;
}

#wishlist .closed article {
  display:none;
}
#wishlist #item-container .listing.open figure {
}

#wishlist figure img {
  height: 100%;
  aspect-ratio: 1;
  object-fit: cover;
}

.card-price {
  z-index: +1000;
  padding: 10px;
  overflow: visible;
  background: url('../dist/assets/price_tag.svg') no-repeat center;
  background-size: contain;
}
